{% extends 'shop/base.html' %}
{% block content %}
<a href="{% url 'home' %}" class="btn">← На головну</a>
<h1>Платформа: {{ selected_platform.name }}</h1>
<hr style="margin-bottom: 20px;">

{% if games %}
    <div class="games-list">
        {% for game in games %}
            <div class="game-card">
                {% if game.image %}
                    <img src="{{ game.image.url }}" alt="{{ game.title }}">
                {% endif %}
                <h3><a href="{% url 'game_detail' game.id %}">{{ game.title }}</a></h3>
                <p><strong>Жанр:</strong> {{ game.genre.name }}</p>
                <p><strong>Ціна:</strong> {{ game.price }} грн</p>
                <a href="{% url 'game_detail' game.id %}" class="btn" style="padding: 5px 10px; font-size: 14px;">Детальніше</a>
                <button class="buy-btn" disabled>Купити</button>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>На цій платформі поки немає ігор.</p>
{% endif %}
{% endblock %}